.Header-Bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.Header-Bar div {
    padding: 20px;
}

.Header-Bar .Header-Title {
    width: 50%;
    text-align: center;
    margin: auto;
}

.Header-Bar .User {
    display: flex;
}

.Header-Bar .User img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.Header-Bar .User p {
    margin-top: 0;
    margin-bottom: 0;
}

.Header-Bar .User .UserInfo {
    float: left;
    font-size: 14px;
    padding-right: 5px;
    margin: auto;
}

body {
    margin: 0;
}