/*Add Font*/
@font-face {
    font-family: Noto-Sans-Regular;
    src: url(./Fonts/NotoSans-Regular.ttf);
}


* {
    font-family: Noto-Sans-Regular;
}

body {
    margin: 0;
    padding: 0;
}

#homeheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 0px;
    
    color: white;
    background-color: rgb(215, 63, 63);
    font-size: calc(10vw + 0.5rem);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 89);
}

#navbar ul {
    padding: 0;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: calc(3vw + .5rem);
    padding: 2vw;
    padding-bottom: 0;
    border-bottom: 1px solid none;
}

#navbar a {
    transition: all ease-in-out 0.5s;
}

#navbar a:hover {
    
    border-bottom: 3px solid red;
    transition: all ease-in-out 0.3s;
}

.Content #Blocks {
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.Content #Blocks div{
    width: 200px;
    height: 400px;
    /*Can't get this working right at the moment. Can't be bothered at the moment.*/
    margin: 1vw auto;
    background-color: grey;
}

.Content #Blocks p {
    width: 200px;
    height: 190px;

    overflow-y: scroll;
    text-overflow: ellipsis;
    
    font-size: 16px;
    
    margin: 0;
}

.Content #Blocks img {
    width: 200px;
    height: 200px;

    margin: 0;
}